.header {
    color: white;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
}

.burger-button {
    border: 0;
    background-color: transparent;
    padding-top: 5px;
}

@media(hover: hover) and (pointer: fine) {
    .burger-button:hover {
        background-color: grey;
    }
}

.channel-name {
    flex: auto;
    margin-left: 10px;
    font-size: 16px;
}