.header {
    color: white;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
}

.toggle-server {
    border: 0;
    background-color: transparent;
    padding-top: 5px;
}

.toggle-server:hover {
    background-color: grey;
}

.channel-name {
    margin-left: 10px;
}