.message {
    display: flex;
    flex-direction: column;
}

@media(hover: hover) and (pointer: fine) {
    .message:hover {
        background-color: rgba(128, 128, 128, 0.5);
    }
}

.message-content {
    flex: auto;
}

.message-time {
    align-self: center;
}

.nickname {
    color: darkgray;
}

.message-content-pinged {
    background-color: rgba(255, 215, 15, 0.2);
}

.image {
    max-height: 400px;
    max-width: 400px;
}