.server-container {
    border-right: thin solid white;
    padding-right: 5px;
    padding-top: 10px;
    overflow-y: auto;
    min-width: 100px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.channel-tree-item:hover {
    background-color: grey;
}

.channel-button {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
    color: white;
    border: 0;
    height: 100%;
    width: 100%;
    padding-left: 20px;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: left;
}

@media(hover: hover) and (pointer: fine) {
    .channel-button:hover {
        background-color: grey;
    }
}

.channel-button-unselected {
    background-color: transparent;
}

.channel-button-selected {
    background-color: #464746;
}

.channel-button-unread {
    color: blue;
}

.server-name {
    padding-bottom: 8px;
    padding-top: 8px;
}

@media(hover: hover) and (pointer: fine) {
    .server-name:hover {
        background-color: grey;
    }
}

.context-menu {
    background-color: black;
    border: 1px solid white;
}

.context-menu-item:hover {
    background-color: grey;
    cursor: pointer;
}

.context-menu-item {
    padding: 5px;
}

.disconnected-image {
    margin-left: 5px;
    vertical-align: bottom;
}