.server-tree {
    border-right: thin solid white;
    padding-right: 5px;
    padding-top: 10px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.channel-tree-item:hover {
    background-color: grey;
}

.channel-button {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
    color: white;
    border: 0;
    height: 100%;
    width: 100%;
    padding: 0;
}

.channel-button-unselected {
    background-color: transparent;
}

.channel-button-selected {
    background-color: blue;
}

.context-menu {
    background-color: black;
    border: 1px solid white;
}

.context-menu-item:hover {
    background-color: blue;
    cursor: pointer;
}