.textbox {
    background-color: transparent;
    color: white;
    height: 23px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
    border: 1px solid white;
    width: 100%;
}

a:visited {
    color: blue;
}

.text {
    font-size: 14px;
}

.button {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 5px;
}

@media(hover: hover) and (pointer: fine) {
    .button:hover {
        background-color: grey;
    }
}

.hidden {
    display: none;
}

.scrollbar {
    scrollbar-color: white transparent;
    scrollbar-width: thin;
}

.scrollbar::-webkit-scrollbar {
    width: 5px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}