.App {
    text-align: left;
}

#root {
    height: var(--vh-offset, 99vh);
}

.App {
    display: flex;
    flex-direction: column;
    margin: 3px;
    height: 100%;
}

.App-container {
    flex: auto;
    display: flex;
    color: #ffffff;
    min-height: 0;
}

.chat-box {
    flex: auto;
    margin-left: 10px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    min-width: 0;
}