.App {
    text-align: left;
}

#root {
    height: calc(99vh - var(--vh-offset, 0px));
}

.App {
    display: flex;
    flex-direction: column;
    margin: 3px;
    height: 100%;
}

.App-container {
    flex: auto;
    display: flex;
    color: #ffffff;
    min-height: 0;
}