body {
    font-family: "SF Pro Text","Helvetica Neue","Helvetica","Arial",sans-serif;
    background-color: #000000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    position: fixed;
    width: 100%;
}

*:focus {
    outline-color: white;
    outline-style: solid;
    outline-width: thin;
}